<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }} - Henri Benecke</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap_main.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/Hero-Carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="{{ url_for('main.index') }}">Henri Benecke</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('main.index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.projects') }}">Projekte</a></li>
                <li class="nav-item"><a class="nav-link" href={{ url_for('main.cv') }}>Lebenslauf</a></li>
                <li class="nav-item"><a class="nav-link" href={{ url_for('main.contact') }}>Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<footer class="page-footer">
    <div class="container">
        <div class="links"><a href="{{ url_for('main.cv') }}">Lebenslauf</a><a href="{{ url_for('main.contact') }}">Kontakt</a></a>
            <a href="{{ url_for('main.projects') }}">Projekte</a></div>
    </div>
</footer>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="../static/js/theme_main.js"></script>
</body>

</html>