{% extends "base.html" %}

{% block content %}
    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Contact me</h2>
                </div>
                <form>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">{{ form.name.label(class_='form-label') }}{{ form.name(class_='form-control item') }}</div>
                    <div class="mb-3">{{ form.subject.label(class_='form-label') }}{{ form.subject(class_='form-control item') }}</div>
                    <div class="mb-3">{{ form.email.label(class_='form-label') }}{{ form.email(class_='form-control item') }}</div>
                    <div class="mb-3">{{ form.message.label(class_='form-label') }}{{ form.message(class_='form-control item') }}</div>
                    <div class="mb-3">{{ form.submit(class_='btn btn-primary btn-lg d-block w-100') }}</div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}