{% extends "base_main.html" %}
{% block content %}

    <main class="page cv-page">
        <section class="portfolio-block cv">
            <div class="container">
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Schulische Ausbildung</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Computing in Science - Physik</h3>
                                <h4 class="organization">Universität Hamburg</h4>
                            </div>
                            <div class="col-md-6"><span class="period">09/2021 - heute</span></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Berufliches Gymnasium Technik - Schwerpunkt Mechatronik</h3>
                                <h4 class="organization">BBS Winsen/Luhe</h4>
                            </div>
                            <div class="col-6"><span class="period">09/2017 - 07/2021</span></div>
                        </div>
                        <p class="text-muted">Abschlussnote: 1,5</p>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="skills portfolio-info-card">
                                <h2>Skills</h2>
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <tbody>
                                            <tr>
                                                <td style="width: 50%;">Python</td>
                                                <td style="width: 50%;color: rgb(105,110,115);font-size: 14px;">
                                                    Seit 4 Jahren hobbymäßig<br>
                                                    Seit 2021 in Studium
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>SQL</td>
                                                <td style="width: 50%;color: rgb(105,110,115);font-size: 14px;">
                                                    2020 in Schule <br>
                                                    Seit 2021 für private Projekte <br>
                                                    2022/2023 in Studium
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>HTML/CSS</td>
                                                <td style="width: 50%;color: rgb(105,110,115);font-size: 14px;">
                                                    2020 in Schule<br>
                                                    Seit 2021 für private Projekte
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>C++</td>
                                                <td style="width: 50%;color: rgb(105,110,115);font-size: 14px;">
                                                    Seit 2023 in Studium
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="skills portfolio-info-card">
                                <h2>Sprachen</h2>
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <tbody>
                                            <tr>
                                                <td style="width: 50%;">Deutsch</td>
                                                <td style="width: 50%;color: rgb(105,110,115);font-size: 14px;">
                                                    Muttersprache
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Englisch</td>
                                                <td style="color: rgb(105,110,115);font-size: 14px;">B2</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hobbies group">
                    <div class="heading">
                        <h2 class="text-center">Hobbies</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="width: 50%;border-right: 1px solid rgb(222,226,230);border-bottom-style: none;border-bottom-color: rgb(222, 226, 230);padding-bottom: 0px;">
                                    Lesen
                                </td>
                                <td style="width: 50%;border-bottom-style: none;padding-bottom: 0px;">Programmieren</td>
                            </tr>
                            <tr style="border-style: none;">
                                <td style="border-right: 1px solid rgb(222,226,230);border-bottom-style: none;font-size: 12px;color: rgb(105,110,115);padding: 8px;padding-top: 0px;">
                                    (Englische Science-Fiction Bücher)
                                </td>
                                <td style="border-bottom-style: none;font-size: 12px;color: rgb(105,110,115);padding: 8px;padding-top: 0px;">
                                    (Automatisierung von wiederholenden Aufgaben und kleinere physikalische Simulationen)
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right-width: 1px;border-right-style: solid;border-bottom-style: none;"></td>
                            </tr>
                            <tr>
                                <td style="width: 50%;border-right: 1px solid rgb(222,226,230);border-bottom-style: none;border-bottom-color: rgb(222, 226, 230);padding-bottom: 0px;">
                                    Astrofotografie
                                </td>
                                <td style="width: 50%;border-bottom-style: none;padding-bottom: 0px;">Mountainbiken</td>
                            </tr>
                            <tr style="border-style: none;">
                                <td style="border-right: 1px solid rgb(222,226,230);border-bottom-style: none;font-size: 12px;color: rgb(105,110,115);padding: 8px;padding-top: 0px;">
                                    (Momentan seltener, wegen fehlender Ausrüstung)
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}