{% extends "base_main.html" %}
{% block content %}
    <main class="page landing-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="about-me">
                    <p>
                        Willkommen auf meinem Portfolio. Ich bin <strong>Henri Benecke</strong>
                        und studiere "Computing in Science - Physik" an der Universität Hamburg. <br>
                        Hier finden Sie eine Auswahl meiner Projekte und Informationen über mich.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="heading text-center">
                    <h2>Meine Projekte</h2>
                </div>

            </div>
            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
                <div class="carousel-inner h-100">
                    {% for project in latest_projects %}
                        {% if loop.index == 1 %}
                            <div class="carousel-item h-100 active">
                        {% else %}
                            <div class="carousel-item h-100">
                        {% endif %}
                    <img class="w-100 d-block position-absolute h-100 fit-cover"
                         src="../static/img/projects/{{ project.image }}"
                         alt="Slide Image" style="z-index: -1;filter: blur(2px);">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold">{{ project.name }}</h1>
                                    <p class="my-3">{{ project.description| striptags() | truncate(100) | safe }}</p><a
                                        class="btn btn-primary btn-lg me-2" role="button"
                                        href={{ url_for('main.project', project_name=project.name) }}>Link zum
                                    Projekt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                            class="carousel-control-prev-icon"></span><span
                            class="visually-hidden">Previous</span></a><a
                            class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
                            class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                    </ol>
                </div>
        </section>
    </main>
{% endblock %}