{% extends "base_admin.html" %}
{% block content %}
    <div id="content">
        <div class="container-fluid">
            <h3 class="text-dark mb-4" style="margin-top: 24px;">Messages</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Employee Info</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-nowrap">
                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label
                                    class="form-label">Show&nbsp;<select
                                    class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;</label></div>
                        </div>
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                         aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>E-Mail</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in messages %}
                                {% if message.unread == 1 %}
                                    <tr style="font-weight: bold;"
                                        onclick="showMessage({{ message.id }})">
                                        {% else %}
                                    <tr onclick="showMessage({{ message.id }})">
                                {% endif %}
                            <td>{{ message.name }}</td>
                            <td>{{ message.subject }}</td>
                            <td>{{ message.email }}</td>
                            <td>{{ message.date }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to
                                10 of 27</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" aria-label="Previous"
                                                                      href="#"><span aria-hidden="true">«</span></a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                                            aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="message-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Message</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5></h5>
                    <p>The content of your modal.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button" onclick="markAsRead()">Mark as read</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        target_id = 0;
        function showMessage(id) {
            target_id = id;
            $.ajax({
                url: '/admin/message/' + id,
                type: 'GET',
                success: function (data) {
                    $('#message-modal .modal-title').html(data.subject);
                    $('#message-modal .modal-body').html("<p class='small'> By: " + data.name +
                        "<br>E-Mail: " + data.email +
                        "<br>Date: " + data.date + "</p>" +
                        data.message);
                    $('#message-modal').modal('show');
                }
            });
        }

        function markAsRead() {
            $.ajax({
                url: '/admin/message/' + target_id,
                type: 'PUT',
                success: function (data) {
                    window.location.reload();
                }
            });
        }
    </script>
{% endblock %}