{% extends "base_admin.html" %}
{% block content %}
    <div id="content">
        <div class="container-fluid">
            <h3 class="text-dark mb-4" style="margin-top: 24px;">Projects</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Employee Info</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <input type="submit" class="btn btn-primary" value="Add Project">
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end dataTables_filter" id="dataTable_filter"><label
                                    class="form-label"><input type="search" class="form-control form-control-sm"
                                                              aria-controls="dataTable" placeholder="Search"></label>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                         aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Image Path</th>
                                <th>git-URL</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td><img class="avatar me-2" height="30"
                                             src="../static/img/projects/{{ project.image }}">{{ project.name }}
                                    </td>
                                    <td>{{ project.description|truncate(50) }}</td>
                                    <td>{{ project.image }}</td>
                                    <td>{{ project.git_url }}</td>
                                    <td>{{ project.date }}</td>
                                    <td><a href="{{ url_for('admin.delete_project', id=project.id) }}"
                                           style="color: darkred;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em"
                                             height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"></path>
                                        </svg>
                                    </a></td>
                                    <td><a href="{{ url_for('admin.edit_project', id=project.id) }}"
                                           style="color: darkgreen;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="1em"
                                             height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path fill="currentColor"
                                                  d="M0 464V512h48l288-288-48-48zm400-320l48-48-48-48-48 48 48 48zm-48 48l48-48-48-48-48 48 48 48zm-48 48l48-48-48-48-48 48 48 48z"></path>
                                        </svg>
                                    </a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to
                                10 of 27</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" aria-label="Previous"
                                                                      href="#"><span aria-hidden="true">«</span></a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                                            aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}